.header-component {
    display: flex;
    height: 8vh;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease;
}

.header-component h1 {
    margin-left: 20px;
}

.header-list {
    display: flex;
    margin-right: 20px;
    gap: 15px;
    list-style-type: none;
}

.header-list li:hover {
    color: rgb(184, 184, 184);
    cursor: pointer;
}